<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Notable Wines</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
   <body>  
    <nav>
    <p>
      <ul>
      <% if !logged_in? %>
       <li><a href="/signup">Create New Account</a></li> 
       <li><a href="/login">Log In</a></li>
      <% end %>
      <% if logged_in? %>
       <li><a href="/wines">Wines</a></li> 
       <li><a href="/wines/new">Add a Wine</a></li>
       <li><a href="/users/<%=@current_user.id%>">My Wines</a></li>
      <% end %>
      </ul>
    </p>
  </nav>
      <div class="wrapper">

        <%= yield %>

      <% if logged_in? %>
        <form method="POST" action="/logout">
        <input type="submit" value="Log Out">
      </form>
      <% end %>
      <footer class="branding">
        <small>&copy; 2021 <strong>Notable Wines</strong></small>
      </footer>
    </div>
  </body>
</html>
