<h1> Edit: <%= @wine.producer_name %></h1>

<form method="POST" action="/wines/<%= @wine.id %>">
<input type="hidden" name="_method" value="PATCH"/>
<p>Producer Name: <input type="text" name="producer_name" value="<%= @movie.producer_name %>"/></p>
<input type="submit" value="Update Wine" id="submit" />
</form>