<h1>My Wines:</h1>

<% if logged_in? %>
<h2>If Logged In, Show Me Username: <%= current_user.username %></h2>
<% end %>
<ul>
<% @wines.each do |wine| %>
    <li><a href="/wines/<%= wine.id %>"><%= wine.producer_name %></a></li>
<% end %>
</ul>

<form method="POST" action="/logout">
<input type="submit" value="Log Out">
</form>

