<% if logged_in? %>
    <h1>All Wines:</h1>
    <h2>Welcome, <%= current_user.username %>!</h2>
    <ul>
    <% @wines.each do |wine| %>
            <li><a href="/wines/<%= wine.id %>"><%= wine.producer_name %></a></li>
        <% end %>
<% else %>
    <h1>Notable Wines</h1>
    <br>
    <h2>Tracking Your Memorable Wines</h2>    
<% end %>
</ul>



