<h1>My Wines:</h1>
<h2>If Logged In, Show Me Username: <%= User.find_by(id: session[:user_id])</h2>
<ul>
<% @wines.each do |wine| %>
    <li><a href="/wines/<%= wine.id %>"><%=wine.producer_name %></a></li>
<% end %>
</ul>

<a> href </a>