<h1>Add a Wine: </h1>

<form method="POST" action="/wines">
<p>Producer Name: <input type="text" name="producer_name"></p>

<p>Wine Name: <input type="text" name="wine_name"></p>

<p>American Viticultural Area: <input type="text" name="ava"></p>

<p>Vintage: <input type="text" name="vintage"></p>

<p>Varietal: <input type="text" name="varietal"></p>

<p>Rating: <select name="rating"></p>
    <option value=""></option>
    <option value="outstanding">Outstanding</option> 
    <option value="good">Good</option>
    <option value="okay">Okay</option>
    <option value="subpar">Subpar</option>
    <option value="terrible">Terrible</option>
</select>
<p>Tasting Notes: </p>
<textarea name="tasting_notes" cols="20" rows="4" placeholder="tasting notes..."></textarea>
<br>
<input type="submit" id="submit" value="Create Wine">
</form>


