<h1>Add a New Wine Here: </h1>

<form method="POST" action="/wines">
<p>Producer Name: <input type="text" name="producer_name"></p>

<p>Wine Name: <input type="text" name="wine_name"></p>

<p>American Viticultural Area: <input type="text" name="ava"></p>

<p>Vintage: <input type="text" name="vintage"></p>

<p>Varietal: <input type="text" name="varietal"></p>

<input type="submit" value="Create Wine" id="submit">
</form>

